* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

#canvas1 {
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#lbl_live {
    position: fixed;
    left: 0;
    top: 0;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: black;
    padding: 3px;
}